<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
    <script src="/js/scripts.js"></script>
</head>
<body>
    <form>
        <span> Name: </span>
        <input type="text" name="name" id="name">
        <span> Reps: </span>
        <input type="text" name="reps" id="reps">
        <span> Weight: </span>
        <input type="text" name="weight" id="weight">
        <span> Date: </span>
        <input type="text" name="date" id="date">
        <span> Lbs: </span>
        <input type="text" name="lbs" id="lbs">
        <button type="submit" id="submit">Add</button>
    </form>
    {{{body}}}
</body>
</html>